apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: board-frontend
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://github.com/Park-Yena00/Board_FE.git
    targetRevision: main
    path: k8s
  destination:
    server: https://kubernetes.default.svc
    namespace: board-frontend
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
  revisionHistoryLimit: 10

